
body{
    font-size: 16px;
    color: #2b283a;
    font-family: "Roboto", sans-serif;
}

header , .section-2nd{
    background-color: #5f29a3;
}


body, h1, h3{
    margin: 0;
}

header, section, footer{
    padding: 45px 0;
}

h1{
font-size:2.25em;
    color: #f4f5f4;
}

h2{
margin-top: 0;
}

h3{
font-size: 1.25em;
    color: #cfaafe;
}

p{
    line-height: 23px;
}

a{
    color:#ef5939;
    text-decoration: 3px underline dotted black;
}
a:hover, a:active{
    color: #d3b54b;
}



.sneaker-img{
    display: block;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}

.container{
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

.section-2nd{

    color: whitesmoke;
}

.section-2nd-img-container{
    display: flex;
    justify-content: space-between;

}

.section-2nd-img {
 
    width: 48.8%;
    border-radius: 4.6px;
}

footer .container{
    text-align: center;
    color:  #5f29a3;
}

.button-links{
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
}

.buy-nft{
    background-color:#5f29a3;
    color: whitesmoke;
}
.more-info, .contact{
    background-color: #efe0ff;
    color: #5f29a3;
}
.about-us{
background-color: whitesmoke;
    color: #5f29a3;
}

.button-links:hover,.button-links:active{
    background-color: #f4e786;
    color: black;
}
